.about-me {
    width: 750px;
    margin: 0 auto;
    padding: 100px 20px;
    margin: 100px auto;
    p {
      padding-bottom: 30px;
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }
  
  .skills-wrapper{
    display: flex;
  }