.contact {
    background-color: #f4f4f4;
    padding: 80px 20px;
    min-height: 100vh;
}

.contact h2 {
    margin-bottom: 50px;
}

.contact {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item a {
    text-decoration: none;
}

.contact-label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.contact-item svg {
    width: 70px;
    height: 70px;
}

@media (max-width: 768px) {

    .contact {
        padding: 80px 10px;
    }

    .contact-item svg {
        width: 40px;
        height: 40px;
    }

    .contact-label {
        font-size: 12px;
    }
}